<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belajardoaharian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DoaNaikKendaraan"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".DoaHujan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DoaSebelumBelajar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DoaSesudahMakan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DoaSebelumMakan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DoaOrangTua"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MenuDoa"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>